{% extends 'base.html.twig' %}
{% block title %}Новая новость{% endblock %}
{% block body %}
    </br>
    
    <div class="text-center">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}